<footer class="border-top bg-light">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 text-center">
                © 2021 - Grupo G6: André, Ana Karolina, Geisa e Matheus
            </div>
        </div>
    </div>
    </footer>